@import "variables";
@import "mixins/mixins";

.navigation {
  background-color: $white;
  width: 320px;
  height: 100vh;
  position: absolute;
  z-index: 2;
  box-shadow: $box-shadow;
  @include desktop {
    position: relative;
    height: auto;
    box-shadow: none;
    z-index: 0;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    @include iPad {
      padding: 0 24px;
    }

    &-menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 154px;
      margin-top: 18px;
      @include desktop {
        margin-top: 30px;
      }
    }

    &-search {
      margin-top: 18px;
      padding-left: -10px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 71%;
    @include desktop {
      height: auto;
      margin-bottom: 65%;
    }

    &-list {
      list-style-type: none;
      @extend %title;
      padding-left: 16px;
      margin: 50px 0 0;
      @include iPad {
        padding-left: 24px;
      }

      .list__item {
        cursor: pointer;
        &:hover {
          opacity: 0.5;
        }

        &--active {
          opacity: 0.5;

          &::before {
            content: "";
            border: 4px solid $blue-pointer;
            border-radius: 25%;
            margin-left: -20px;
            margin-right: 11px;
            @include iPad {
              margin-left: -28px;
              margin-right: 19px;
            }
          }
        }
      }
    }

    li:not(:last-child) {
      margin-bottom: 32px;
    }
  }

  &__footer {
    margin-left: 24px;

    &-icons > a {
      margin-right: 16px;
    }

    &-mail {
      @extend %title;
      letter-spacing: -0.2px;
      margin-bottom: 0;
    }

    &-phone {
      @extend %h2;
      margin-top: 12px;
      margin-bottom: 16px;
    }

    &-language {
      margin-top: 8px;
      @include desktop {
        margin-top: 40px;
      }

      &__button:first-child {
        opacity: 0.5;
      }

      &__button {
        text-decoration: none;
        color: $black;
        @extend %title;
        margin-right: 7px;

        &:hover {
          opacity: 0.5;
        }
      }
    }
  }
}

.menu__button-hidden {
  @include desktop {
    display: none;
  }
}

.navigation--hidden {
  display: none;
  @include desktop {
    display: block;
  }
}

.navigation--show {
  display: block;
}
