@import "variables";
@import "mixins/mixins";

@font-face {
  font-family: "TT Lakes";
  src: url("../../src/fonts/TTLakes-Regular.woff2") format("woff2");
  src: url("../../src/fonts/TTLakes-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "TT Lakes";
  src: url("../../src/fonts/TTLakes-Medium.woff2") format("woff2");
  src: url("../../src/fonts/TTLakes-Medium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "TT Lakes";
  src: url("../../src/fonts/TTLakes-Bold.woff2") format("woff2");
  src: url("../../src/fonts/TTLakes-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "TT Lakes", sans-serif;
  color: $black;
  background-color: $background;

  .container {
    display: flex;

    .content-column {
      flex-direction: column;
      width: 100%;
      @include desktop {
        width: 77%;
      }
    }
  }
}

@import "vendor";
@import "navigation";
@import "feedback";
@import "callrequest";
@import "content";
@import "header";
@import "brands";
@import "services";
@import "prices";
@import "footer";
